In [ ]:
# this is the result of my query SELECT * FROM population in population.db [(1, 'China', 1439323776, 0.39, 5540090, 153, 9388211, -348399, 1.7, 38, 61, 18.47), (2, 'India', 1380004385, 0.99, 13586631, 464, 2973190, -532687, 2.2, 28, 35, 17.7), (3, 'United States', 331002651, 0.59, 1937734, 36, 9147420, 954806, 1.8, 38, 83, 4.25), (4, 'Indonesia', 273523615, 1.07, 2898047, 151, 1811570, -98955, 2.3, 30, 56, 3.51), (5, 'Pakistan', 220892340, 2.0, 4327022, 287, 770880, -233379, 3.6, 23, 35, 2.83), (6, 'Brazil', 212559417, 0.72, 1509890, 25, 8358140, 21200, 1.7, 33, 88, 2.73), (7, 'Nigeria', 206139589, 2.58, 5175990, 226, 910770, -60000, 5.4, 18, 52, 2.64), (8, 'Bangladesh', 164689383, 1.01, 1643222, 1265, 130170, -369501, 2.1, 28, 39, 2.11), (9, 'Russia', 145934462, 0.04, 62206, 9, 16376870, 182456, 1.8, 40, 74, 1.87), (10, 'Mexico', 128932753, 1.06, 1357224, 66, 1943950, -60000, 2.1, 29, 84, 1.65), (11, 'Japan', 126476461, -0.3, -383840, 347, 364555, 71560, 1.4, , 38928346, 2.33, 886592, 60, 652860, -62920, 4.6, 18, 25, 0.5), (38, 'Poland', 37846611, -0.11, -41157, 124, 306230, -29395, 1.4, 42, 60, 0.49), (39, 'Canada', 37742154, 0.89, 331107, 4, 9093510, 242032, 1.5, 41, 81, 0.48), (40, 'Morocco', 36910560, 1.2, 438791, 83, 446300, -51419, 2.4, 30, 64, 0.47), (41, 'Saudi Arabia', 34813871, 1.59, 545343, 16, 2149690, 134979, 2.3, 32, 84, 0.45), (42, 'Uzbekistan', 33469203, 1.48, 487487, 79, 425400, -8863, 2.4, 28, 50, 0.43), (43, 'Peru', 32971854, 1.42, 461401, 26, 1280000, 99069, 2.3, 31, 79, 0.42), (44, 'Angola', 32866272, 3.27, 1040977, 26, 1246700, 6413, 5.6, 17, 67, 0.42), (45, 'Malaysia', 32365999, 1.3, 416222, 99, 328550, 50000, 2.0, 30, 78, 0.42), (46, 'Mozambique', 31255435, 2.93, 889399, 40, 786380, -5000, 4.9, 18, 38, 0.4), (47, 'Ghana', 31072940, 2.15, 655084, 137, 227540, -10000, 3.9, 22, 57, 0.4), (48, 'Yemen', 29825964, 2.28, 664042, 56, 527970, -30000, 3.8, 20, 38, 0.38), (49, 'Nepal', 29136808, 1.85, 528098, 203, 143350, 41710, 1.9, 25, 21, 0.37)]